.flex-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
}
.preview{
    width:50%;
}
#display {
    width: 50vw;
    height: 90vh;
}

#editor {
    width: 50vw;
    height: 90vh;
}