nav {
    height:96px;
    width: 100%;
    background-color: #15171E;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}

main {
    padding-top: 30px;
    position: fixed;
}

p {
    margin: 20px;
}

.admin_title{
    padding-left: 40px;
}

.burger-btn{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.burger-btn span{
    position: absolute;
    top: 9px;
    width: 20px;
    background-color: white;
    height: 2px
}

.burger-btn:before{
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: white;
    height: 2px
}

.burger-btn:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: white;
    height: 2px

}


.button-update{
    position: absolute;
    right: 20px;
}

.button-update button{
    padding: 5px 10px;
    background-color: #297A4C;
    border: 1px solid darkslategrey;
    border-radius: 4px;
    color: #FDFBFB;
}